.station-chart-container {
    margin-top: 30px;
}

.station-chart-container .title {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #283f89;
    margin-bottom: 20px;
}

.station-chart-container .map-button-container {
    margin-top: 10px;
}
