/*
    Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
*/
* {
    font-family: Roboto-Regular, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto-Regular, sans-serif ;
    color: rgb(19, 55, 143)
}

body button {
    font-family: Roboto-Medium, sans-serif;
}

#root {
    min-height:100%;
    min-width:100%;
    display:flex;
    position:relative;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*
    Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}