/*
    Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
*/
.dashboard-container .active-filter {
    visibility: visible;
}

.dashboard-container .inactive-filter {
    visibility: hidden;
}

.dashboard-container .filter-form-button {
    display: flex !important;
}

.dashboard-container .dashboard-map-container {
    float: none;
    display: none !important;
}

.dashboard-container .chart-container,
.dashboard-container .dashboard-map-container {
    padding: 0
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .dashboard-container {
        display: block;
    }
    .dashboard-container .filter-form-button {
        display: none !important;
    }
    .dashboard-container .chart-container {
        display: inline-block !important;
        position: relative;
    }
    .dashboard-container .dashboard-map-container {
        display: inline-block !important;
        position: relative;
    }
    .dashboard-container .map-button-container {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}